<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Countries & Capitals Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finished.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='pics/globe.png') }}" type="image/icon type">
</head>
<body>
    <center><div class="finished">
        <form name="end_form" id="end_form" method="post">
            <h1>Congratulations!</h1>
            <p>Quiz Duration: {{ elapsed_time }} seconds</p>
            <button type="button" name="retry_btn">Retry</button><br>
            <input name="retry" id="retry" type="hidden">
            <button type="button" name="home" onclick=document.location.href="/">Home</button>
        </form>
    </div></center>
</body>
</html>